@import "variables";

.diaper-usage {
  display: flex;
  margin-top: 10px;

  &__little,
  &__much {
    flex: auto;
    text-align: center;
    border-style: solid;
    border-color: $border-light;
    background-color: $bg-light;
  }

  &__little {
    border-width: 5px 0 5px 5px;
    border-radius: 5px 0 0 5px;
  }

  &__much {
    border-width: 5px 5px 5px 1px;
    border-radius: 0 5px 5px 0;
  }
}
