@import "variables";

.diaper-usage {
  display: flex;
  margin-top: 10px;

  &__little {
    border-width: 5px 0 5px 5px;
    border-radius: 5px 0 0 5px;
  }

  &__much {
    border-width: 5px 5px 5px 1px;
    border-radius: 0 5px 5px 0;
  }

  &__little,
  &__much {
    appearance: none;
    flex: auto;
    margin: 0;
    font-size: 2em;
    text-align: center;
    border-style: solid;
    border-color: $border-light;
    background-color: $bg-light;
    height: 1.7em;

    &::after {
      content: attr(data-diaper-usage-content);
    }

    &:checked {
      border: 5px solid $border-dark;
      background-color: $border-light;

      &::after {
        content: "✔️" attr(data-diaper-usage-content);
      }
    }
  }
}
