@import "variables";

%text-like-input {
  appearance: none;
  font-size: 2em;
  border: 5px solid $border-light;
  border-radius: 5px;
  background-color: $bg-light;

  &:focus {
    border: 5px solid $border-dark;
    background-color: $border-light;
  }
}

%baby-logs-form {
  grid-column: 1 / -1;

  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__submit {
    appearance: none;
    font-size: 2em;
    position: relative;
    bottom: 10px;
    display: block;
    width: 5em;
    margin: 60px auto 0 auto;
    border: 5px solid $border-light;
    border-radius: 5px;
    background-color: $bg-light;
  }
}
