@import "~styles/variables";

.poo-color {
  display: flex;
  margin-top: 10px;

  input[name="poo-color"] {
    appearance: none;
    flex: auto;
    margin: 0;
    font-size: 2em;
    text-align: center;
    border-radius: 0;
    border-width: 0;
    height: 1.5em;
    line-height: 1.7em;

    &::after {
      content: attr(value);
    }

    &:checked {
      margin-top: -10px;

      &::before {
        content: "✔️";
      }
    }

    &:first-child {
      border-radius: 10px 0 0 10px;
    }

    &:last-child {
      border-radius: 0 10px 10px 0;
    }

    @for $n from 1 through 7 {
      &:nth-child(#{$n}) {
        background-color: nth($poo-colors, $n);
      }
    }
  }
}
